---
---

@import "{{ site.theme }}";

footer {display: none;}

header {
    width: 320px;
    h1 { display: none; }
    p {
        display: none;
    }
}

#menu {
    display: inline-block;
    margin: 5px 0 20px 0;
    a {margin-right: 10px;}
}

body {
    padding-top: 20px;
}