---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body { font-family: 'Roboto', sans-serif;}
footer {display: none;}

header {
    width: 320px;
    h1 { display: none; }
    p {
        display: none;
    }
}

#menu {
    display: inline-block;
    margin: 5px 0 20px 0;
    a {margin-right: 10px;}
}

body {
    padding-top: 20px;
}

h1.title {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 32px;
    span {
        font-style: italic;
    }
}

h2.subtitle {
    font-weight: 400;  
    font-size: 20px; 
}