---
---

@import "{{ site.theme }}";

footer {display: none;}

header {
    width: 320px;
    h1 {
        font-size: 23px;
        text-align: center;
        a { color: black; }
        a:hover { color: black; }
    }
}

#menu {
    display: inline-block;
    margin: 5px 0 20px 0;
    a {margin-right: 10px;}
}

